In [1]:
import requests
import pandas as pd

## Reference site for API

#### https://restcountries.com/

In [2]:
# pull in the api data using the requests module and assign it to 'r'
r = requests.get("https://restcountries.com/v3.1/all")

# determine the type of data I have.
r.headers['content-type']

'application/json'

In [3]:
# Create variable by refencing key you want to create df from.
raw_data = r.json()

In [4]:
# Create df using newly created variable
df= pd.DataFrame(data=raw_data)

In [5]:
# How many rows and columns are we working with
df.shape

(250, 35)

In [6]:
# Let's take a look at the data we're working with.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 35 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          250 non-null    object
 1   tld           249 non-null    object
 2   cca2          250 non-null    object
 3   ccn3          249 non-null    object
 4   cca3          250 non-null    object
 5   cioc          206 non-null    object
 6   independent   249 non-null    object
 7   status        250 non-null    object
 8   unMember      250 non-null    bool
 9   currencies    247 non-null    object
 10  idd           250 non-null    object
 11  capital       246 non-null    object
 12  altSpellings  250 non-null    object
 13  region        250 non-null    object
 14  subregion     245 non-null    object
 15  languages     249 non-null    object
 16  translations  250 non-null    object
 17  latlng        250 non-null    object
 18  landlocked    250 non-null    bool
 19  borders       165 non-null    object
 20  area          250 non-null    float64
 21  demonyms      249 non-null    object
 22  flag          250 non-null    object
 23  maps          250 non-null    object
 24  population    250 non-null    int64
 25  gini          167 non-null    object
 26  fifa          206 non-null    object
 27  car           250 non-null    object
 28  timezones     250 non-null    object
 29  continents    250 non-null    object
 30  flags         250 non-null    object
 31  coatOfArms    250 non-null    object
 32  startOfWeek   250 non-null    object
 33  capitalInfo   250 non-null    object
 34  postalCode    149 non-null    object
dtypes: bool(2), float64(1), int64(1), object(31)
memory usage: 65.1+ KB

In [7]:
# Let's see all of the columns that are present.
df.columns

Index(['name', 'tld', 'cca2', 'ccn3', 'cca3', 'cioc', 'independent', 'status',
       'unMember', 'currencies', 'idd', 'capital', 'altSpellings', 'region',
       'subregion', 'languages', 'translations', 'latlng', 'landlocked',
       'borders', 'area', 'demonyms', 'flag', 'maps', 'population', 'gini',
       'fifa', 'car', 'timezones', 'continents', 'flags', 'coatOfArms',
       'startOfWeek', 'capitalInfo', 'postalCode'],
      dtype='object')

In [8]:
# Let's drop some of the unnecessary columns.
df = df.drop(columns= ['tld', 'cca2', 'ccn3', 'cca3', 'cioc','flag', 'maps', 'gini', 'fifa','flags', 'coatOfArms','currencies', 'idd','altSpellings', 'region', 'subregion','translations', 'latlng','demonyms', 'flag','maps'])

In [9]:
# Check our results.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 250 entries, 0 to 249
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         250 non-null    object
 1   independent  249 non-null    object
 2   status       250 non-null    object
 3   unMember     250 non-null    bool
 4   capital      246 non-null    object
 5   languages    249 non-null    object
 6   landlocked   250 non-null    bool
 7   borders      165 non-null    object
 8   area         250 non-null    float64
 9   population   250 non-null    int64
 10  car          250 non-null    object
 11  timezones    250 non-null    object
 12  continents   250 non-null    object
 13  startOfWeek  250 non-null    object
 14  capitalInfo  250 non-null    object
 15  postalCode   149 non-null    object
dtypes: bool(2), float64(1), int64(1), object(12)
memory usage: 28.0+ KB

In [10]:
# Which countries are members of the United Nations?
member = df[df['unMember'] == True]
member

,name,independent,status,unMember,capital,languages,landlocked,borders,area,population,car,timezones,continents,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Jordan', 'official': 'Hashemite Ki...",True,officially-assigned,True,[Amman],{'ara': 'Arabic'},False,"[IRQ, ISR, PSE, SAU, SYR]",89342.0,10203140,"{'signs': ['HKJ'], 'side': 'right'}",[UTC+03:00],[Asia],sunday,"{'latlng': [31.95, 35.93]}","{'format': '#####', 'regex': '^(\d{5})$'}"
2,"{'common': 'Serbia', 'official': 'Republic of ...",True,officially-assigned,True,[Belgrade],{'srp': 'Serbian'},True,"[BIH, BGR, HRV, HUN, UNK, MKD, MNE, ROU]",88361.0,6908224,"{'signs': ['SRB'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [44.83, 20.5]}","{'format': '######', 'regex': '^(\d{6})$'}"
3,"{'common': 'Andorra', 'official': 'Principalit...",True,officially-assigned,True,[Andorra la Vella],{'cat': 'Catalan'},True,"[FRA, ESP]",468.0,77265,"{'signs': ['AND'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [42.5, 1.52]}","{'format': 'AD###', 'regex': '^(?:AD)*(\d{3})$'}"
7,"{'common': 'Bolivia', 'official': 'Plurination...",True,officially-assigned,True,[Sucre],"{'aym': 'Aymara', 'grn': 'Guaraní', 'que': 'Qu...",True,"[ARG, BRA, CHL, PRY, PER]",1098581.0,11673029,"{'signs': ['BOL'], 'side': 'right'}",[UTC-04:00],[South America],monday,"{'latlng': [-19.02, -65.26]}",NaN
8,"{'common': 'Libya', 'official': 'State of Liby...",True,officially-assigned,True,[Tripoli],{'ara': 'Arabic'},False,"[DZA, TCD, EGY, NER, SDN, TUN]",1759540.0,6871287,"{'signs': ['LAR'], 'side': 'right'}",[UTC+01:00],[Africa],sunday,"{'latlng': [32.88, 13.17]}",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
242,"{'common': 'Switzerland', 'official': 'Swiss C...",True,officially-assigned,True,[Bern],"{'fra': 'French', 'gsw': 'Swiss German', 'ita'...",True,"[AUT, FRA, ITA, LIE, DEU]",41284.0,8654622,"{'signs': ['CH'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [46.92, 7.47]}","{'format': '####', 'regex': '^(\d{4})$'}"
245,"{'common': 'Sudan', 'official': 'Republic of t...",True,officially-assigned,True,[Khartoum],"{'ara': 'Arabic', 'eng': 'English'}",False,"[CAF, TCD, EGY, ERI, ETH, LBY, SSD]",1886068.0,43849269,"{'signs': ['SUD'], 'side': 'right'}",[UTC+03:00],[Africa],monday,"{'latlng': [15.6, 32.53]}","{'format': '#####', 'regex': '^(\d{5})$'}"
246,"{'common': 'Tajikistan', 'official': 'Republic...",True,officially-assigned,True,[Dushanbe],"{'rus': 'Russian', 'tgk': 'Tajik'}",True,"[AFG, CHN, KGZ, UZB]",143100.0,9537642,"{'signs': ['TJ'], 'side': 'right'}",[UTC+05:00],[Asia],monday,"{'latlng': [38.55, 68.77]}","{'format': '######', 'regex': '^(\d{6})$'}"
247,"{'common': 'Uruguay', 'official': 'Oriental Re...",True,officially-assigned,True,[Montevideo],{'spa': 'Spanish'},False,"[ARG, BRA]",181034.0,3473727,"{'signs': ['ROU'], 'side': 'right'}",[UTC-03:00],[South America],monday,"{'latlng': [-34.85, -56.17]}","{'format': '#####', 'regex': '^(\d{5})$'}"
248,"{'common': 'Cyprus', 'official': 'Republic of ...",True,officially-assigned,True,[Nicosia],"{'ell': 'Greek', 'tur': 'Turkish'}",False,NaN,9251.0,1207361,"{'signs': ['CY'], 'side': 'left'}",[UTC+02:00],[Europe],monday,"{'latlng': [35.17, 33.37]}","{'format': '####', 'regex': '^(\d{4})$'}"

In [11]:
# How many countries are UN members?
member['unMember'].count()

193

In [12]:
# What's the mean population of countries that are members of the UN?
member['population'].mean()

40050066.35233161

In [13]:
# What's the largest country, by population, that's a member of the UN?
member[member['population'] == member['population'].max()]

,name,independent,status,unMember,capital,languages,landlocked,borders,area,population,car,timezones,continents,startOfWeek,capitalInfo,postalCode
49,"{'common': 'China', 'official': 'People's Repu...",True,officially-assigned,True,[Beijing],{'zho': 'Chinese'},False,"[AFG, BTN, MMR, HKG, IND, KAZ, NPL, PRK, KGZ, ...",9706961.0,1402112000,"{'signs': ['RC'], 'side': 'right'}",[UTC+08:00],[Asia],monday,"{'latlng': [39.92, 116.38]}","{'format': '######', 'regex': '^(\d{6})$'}"

In [14]:
# Which UN member has the smallest population?
member[member['population'] == member['population'].min()]

,name,independent,status,unMember,capital,languages,landlocked,borders,area,population,car,timezones,continents,startOfWeek,capitalInfo,postalCode
39,"{'common': 'Vatican City', 'official': 'Vatica...",True,officially-assigned,True,[Vatican City],"{'ita': 'Italian', 'lat': 'Latin'}",True,[ITA],0.44,451,"{'signs': ['V'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [41.9, 12.45]}",NaN

In [15]:
# Print only 2nd and 3rd columns
only_2_cols = df.iloc[:, 1:3]
only_2_cols.head(5)

  independent               status
0        True  officially-assigned
1       False  officially-assigned
2        True  officially-assigned
3        True  officially-assigned
4       False  officially-assigned

In [16]:
# Print first 4 rows
only_4_rows = df.iloc[:4]
only_4_rows.head(5)

,name,independent,status,unMember,capital,languages,landlocked,borders,area,population,car,timezones,continents,startOfWeek,capitalInfo,postalCode
0,"{'common': 'Jordan', 'official': 'Hashemite Ki...",True,officially-assigned,True,[Amman],{'ara': 'Arabic'},False,"[IRQ, ISR, PSE, SAU, SYR]",89342.0,10203140,"{'signs': ['HKJ'], 'side': 'right'}",[UTC+03:00],[Asia],sunday,"{'latlng': [31.95, 35.93]}","{'format': '#####', 'regex': '^(\d{5})$'}"
1,"{'common': 'Northern Mariana Islands', 'offici...",False,officially-assigned,False,[Saipan],"{'cal': 'Carolinian', 'cha': 'Chamorro', 'eng'...",False,NaN,464.0,57557,"{'signs': ['USA'], 'side': 'right'}",[UTC+10:00],[Oceania],monday,"{'latlng': [15.2, 145.75]}",NaN
2,"{'common': 'Serbia', 'official': 'Republic of ...",True,officially-assigned,True,[Belgrade],{'srp': 'Serbian'},True,"[BIH, BGR, HRV, HUN, UNK, MKD, MNE, ROU]",88361.0,6908224,"{'signs': ['SRB'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [44.83, 20.5]}","{'format': '######', 'regex': '^(\d{6})$'}"
3,"{'common': 'Andorra', 'official': 'Principalit...",True,officially-assigned,True,[Andorra la Vella],{'cat': 'Catalan'},True,"[FRA, ESP]",468.0,77265,"{'signs': ['AND'], 'side': 'right'}",[UTC+01:00],[Europe],monday,"{'latlng': [42.5, 1.52]}","{'format': 'AD###', 'regex': '^(?:AD)*(\d{3})$'}"